devfestcz.json
[{"type":"tab","id":"515736ea.531818","label":"Sheet 1"},{"id":"b65d15d2.49a2e8","type":"artemis-server","host":"10.0.0.42","port":"2010"},{"id":"4fb32e5e.b04cd","type":"switch","name":"Switcher","property":"topic","rules":[{"t":"eq","v":"playerUpdate"},{"t":"eq","v":"damcon"},{"t":"eq","v":"playerHit"}],"checkall":"true","outputs":3,"x":254,"y":319,"z":"515736ea.531818","wires":[["f88a0ace.0775f8"],["888268a6.777d98"],["1be055bb.d8f0f2"]]},{"id":"f88a0ace.0775f8","type":"function","name":"playerUpdateFilter","func":"var data = msg.payload;\nvar filtered = {\n\tshieldPower: data.forShields,\n\tmaxShieldPower: data.payload,\n\tredAlert: data.redAlert,\n\tshieldState: data.shieldState,\n\tdocking: data.docking,\n\tenergy: data.energy\n};\n\nreturn {payload: filtered};","outputs":1,"x":475,"y":186,"z":"515736ea.531818","wires":[["c8e522e.f371ae"]]},{"id":"888268a6.777d98","type":"function","name":"damconFilter","func":"var data = msg.payload;\nvar curDam = 0;\nvar shipDamage = 0;\n\nconsole.log(\"Subsystem count \" + data.nodes.length);\n\nfor(var i = 0; i < data.nodes.length; i++ ){\n\tcurDam += data.nodes[i].damage;\n}\n\nconsole.log(\"CurDam \" + curDam );\n\nif(curDam > 0){\n\tshipDamage = curDam/15;\n\tif(shipDamage > 1){\n\t\tshipDamage = 1;\n\t}\n}else{\n\tshipDamage = 0;\n}\n\nconsole.log(\"Current ship damage:\" + shipDamage );\n\nreturn {payload: {shipDamage: shipDamage}};","outputs":1,"x":491,"y":319,"z":"515736ea.531818","wires":[["c8e522e.f371ae"]]},{"id":"c8e522e.f371ae","type":"function","name":"shipState","func":"context.state = context.state || {}; \nvar data = msg.payload;\nfor (var key in data) {\n    if(data[key] != undefined && data[key] != null){\n    \tcontext.state[key] = data[key];\n    }\n\t\n}\nreturn {payload: context.state};","outputs":1,"x":654,"y":250,"z":"515736ea.531818","wires":[["a5c3159d.5a3ce8","c9c03ef1.363fc"]]},{"id":"49decfe6.b6213","type":"debug","name":"","active":false,"console":"false","complete":"false","x":1303.9998779296875,"y":560.1428527832031,"z":"515736ea.531818","wires":[]},{"id":"ad938970.526c78","type":"artemis-client","name":"ArtemisClient","server":"b65d15d2.49a2e8","x":128,"y":65,"z":"515736ea.531818","wires":[["4fb32e5e.b04cd"]]},{"id":"a5c3159d.5a3ce8","type":"function","name":"checkRedAlert","func":"\nvar data = msg.payload;\nmsg.topic = \"redAlert\";\n\nif(data.redAlert === 1){\n\tmsg.payload = \"on\";\n}else{\n\tmsg.payload = \"off\";\n}\n\nif(data.redAlert === 1){\n    return [null,msg];\n}else{\n\treturn [{payload: data},msg];\n}\n","outputs":"2","x":833,"y":255,"z":"515736ea.531818","wires":[["fdc43a09.023bc8"],["c32ad48c.3cd528"]]},{"id":"df0091e1.20ff7","type":"function","name":"checkShields","func":"\nvar data = msg.payload;\nmsg.topic = \"shield\";\n\nif(data.shieldState === 1){\n\tmsg = {topic:\"lights\",payload:{}};\n    msg.payload.hue = 39072;\n\tmsg.payload.saturation = 0xffff;\n\tmsg.payload.luminance = 0x8000;\n\tmsg.payload.whiteColor = 0;\n}else{\n\tmsg = {topic:\"lights\",payload:{}};\n    msg.payload.hue = 37836;\n\tmsg.payload.saturation = 0x4fff;\n\tmsg.payload.luminance = 0x1000;\n\tmsg.payload.whiteColor = 0x0af0;\n}\n\nif(data.shieldState === 1){\n    return [null,msg];\n}else{\n\treturn [{payload: data},msg];\n}","outputs":"2","x":1238,"y":243,"z":"515736ea.531818","wires":[[],["b0b1f9bf.4f4e08"]]},{"id":"16620c0f.e99df4","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":821.4286193847656,"y":612.8570194244385,"z":"515736ea.531818","wires":[["1db32418.e24cdc"]]},{"id":"1db32418.e24cdc","type":"function","name":"RedAlertPulser","func":"var pulseMsg = null;\nif(context.redAlertState == undefined){\n\tcontext.redAlertState = true;\n\tcontext.isOn = false;\n}\nif(context.inited != true && msg.topic == \"redAlert\"){\n\tcontext.inited = true;\n\tpulseMsg = {payload: true, topic:\"pulse\"};\n\tconsole.log(\"pulse inited\");\n}\n\n\nif(msg.topic == \"redAlert\"){\n\tif(msg.payload == \"on\"){\n\t\tcontext.isOn = true;\n\t}else{\n\t\tcontext.isOn = false;\n\t}\n}\nvar bulbMsg = null;\nif(msg.topic == \"pulse\"){\n\tif(context.isOn){\n\t\tif(context.redAlertState){\n\t\t\tbulbMsg = {topic:\"\",payload:{}};\n\t\t    bulbMsg.payload.hue = 0x0000;\n\t\t\tbulbMsg.payload.saturation = 0xffff;\n\t\t\tbulbMsg.payload.luminance = 0x8000;\n\t\t\tbulbMsg.payload.whiteColor = 0;\n\t\t}else{\n\t\t    bulbMsg = {topic:\"\",payload:{}};\n\t\t    bulbMsg.payload.hue = 0x0000;\n\t\t\tbulbMsg.payload.saturation = 0xffff;\n\t\t\tbulbMsg.payload.luminance = 0x1000;\n\t\t\tbulbMsg.payload.whiteColor = 0;\n\t\t}\n\t}\n\tcontext.redAlertState = !context.redAlertState;\n\tpulseMsg = {payload: true, topic:\"pulse\"};\n}\n\nreturn [bulbMsg,pulseMsg];","outputs":"2","x":840.857177734375,"y":516.4285278320312,"z":"515736ea.531818","wires":[["b0b1f9bf.4f4e08"],["16620c0f.e99df4"]]},{"id":"c32ad48c.3cd528","type":"msg-debouncer","name":"","x":757,"y":346,"z":"515736ea.531818","wires":[["1db32418.e24cdc","c7d3a537.382c58"]]},{"id":"b0b1f9bf.4f4e08","type":"msg-debouncer","name":"","x":1131,"y":481,"z":"515736ea.531818","wires":[["49decfe6.b6213"]]},{"id":"fdc43a09.023bc8","type":"function","name":"CheckDocking","func":"\nvar data = msg.payload;\nmsg.topic = \"docking\";\n\nif(data.docking > 0){\n\tmsg = {topic:\"lights\",payload:{}};\n    msg.payload.hue = 0x2710;\n\tmsg.payload.saturation = 0xffff;\n\tmsg.payload.luminance = 0x8000;\n\tmsg.payload.whiteColor = 0;\n}\n\nif(data.docking > 0){\n    return [null,msg,{payload:\"on\"}];\n}else{\n\treturn [{payload: data},null,{payload:\"off\"}];\n}","outputs":"3","x":1025,"y":249,"z":"515736ea.531818","wires":[["df0091e1.20ff7"],["b0b1f9bf.4f4e08"],["afef5a9f.5010a8"]]},{"id":"c65f6614.39a098","type":"debug","name":"","active":false,"console":"false","complete":"false","x":968,"y":126,"z":"515736ea.531818","wires":[]},{"id":"c9c03ef1.363fc","type":"msg-debouncer","name":"","x":760,"y":173,"z":"515736ea.531818","wires":[["c65f6614.39a098"]]},{"id":"afef5a9f.5010a8","type":"msg-debouncer","name":"","x":995,"y":358,"z":"515736ea.531818","wires":[["a09908ee.5f66f8"]]},{"id":"9f8363c1.d36d88","type":"change","action":"replace","property":"payload","from":"","to":"My crew is chillin' in the dock.","reg":false,"name":"chilling in docks","x":1391,"y":392,"z":"515736ea.531818","wires":[["756e13a9.156ca4"]]},{"id":"1be055bb.d8f0f2","type":"function","name":"hit tweet generator","func":"function shuffle(items) {\n\treturn items[Math.floor(Math.random()*items.length)];\n}\n\nvar exclaim = [\n\t\"BAM!\",\n\t\"Oof!\",\n\t\"Ouch!\"\n];\n\nvar message = [\n\t\"It's a hit.\",\n\t\"That hurts!\",\n\t\"I might need an engineer!\"\n];\n\nvar tweet = shuffle(exclaim) + \" \" + shuffle()\n\nreturn {payload: tweet};","outputs":1,"x":210,"y":489,"z":"515736ea.531818","wires":[["756e13a9.156ca4"]]},{"id":"756e13a9.156ca4","type":"change","action":"change","property":"payload","from":"$","to":" #DevFestCZ","reg":true,"name":"add hashtag","x":928,"y":753,"z":"515736ea.531818","wires":[["654f3760.7f484","a9cd7ea3.56328"]]},{"id":"654f3760.7f484","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1269,"y":705,"z":"515736ea.531818","wires":[]},{"id":"65ec5aee.e842f4","type":"twitter out","name":"Tweet","x":1287,"y":769,"z":"515736ea.531818","wires":[]},{"id":"a9cd7ea3.56328","type":"function","name":"append date","func":"\nfunction fmtdate() {\n\tvar d = new Date();\n\t\n\treturn d.toDateString() + ' ' + d.getHours() + \".\" + d.getMinutes();\n}\n\nvar pl = msg.payload + \" (\" + fmtdate() + \")\";\n\nreturn {payload: pl};","outputs":1,"x":1112,"y":793,"z":"515736ea.531818","wires":[["654f3760.7f484","65ec5aee.e842f4"]]},{"id":"75acf6e8.8a5308","type":"function","name":"red alert tweet","func":"function shuffle(items) {\n\treturn items[Math.floor(Math.random()*items.length)];\n}\n\nvar exclaim = [\n\t\"OMG!\",\n\t\"Yo!\",\n\t\"Achtung! Achtung!\"\n];\n\nvar message = [\n\t\"Red Alert! Red Alert!\",\n\t\"Red Alert! Preparing for Brown Alert!\",\n\t\"It's Red Alert!\"\n];\n\nvar tweet = shuffle(exclaim) + \" \" + shuffle(message)\n\nreturn {payload: tweet};","outputs":1,"x":697,"y":663,"z":"515736ea.531818","wires":[["756e13a9.156ca4"]]},{"id":"c7d3a537.382c58","type":"switch","name":"detect red alert","property":"payload","rules":[{"t":"eq","v":"on"},{"t":"eq","v":"off"}],"checkall":"true","outputs":2,"x":666,"y":428,"z":"515736ea.531818","wires":[["75acf6e8.8a5308"],[]]},{"id":"a09908ee.5f66f8","type":"switch","name":"is on","property":"payload","rules":[{"t":"eq","v":"on"}],"checkall":"true","outputs":1,"x":1223,"y":391,"z":"515736ea.531818","wires":[["9f8363c1.d36d88"]]}]