devfestcz.json
[{"type":"tab","id":"515736ea.531818","label":"Sheet 1"},{"id":"b65d15d2.49a2e8","type":"artemis-server","host":"10.0.0.42","port":"2010"},{"id":"82e3b3cf.7d1c5","type":"twitter-credentials","screen_name":"@Artemis_RED"},{"id":"4fb32e5e.b04cd","type":"switch","name":"Switcher","property":"topic","rules":[{"t":"eq","v":"playerUpdate"},{"t":"eq","v":"damcon"},{"t":"eq","v":"playerShipDamage"},{"t":"eq","v":"gameOver"},{"t":"eq","v":"gameRestart"}],"checkall":"true","outputs":5,"x":225,"y":210,"z":"515736ea.531818","wires":[["f88a0ace.0775f8"],["888268a6.777d98"],["2e4b0129.d1b4fe"],["5a937a1.fa56c84"],["2f2298f5.d0dd68"]]},{"id":"f88a0ace.0775f8","type":"function","name":"playerUpdateFilter","func":"var data = msg.payload;\nvar filtered = {\n\tshieldPower: data.forShields,\n\tmaxShieldPower: data.payload,\n\tredAlert: data.redAlert,\n\tshieldState: data.shieldState,\n\tdocking: data.docking,\n\tenergy: data.energy\n};\n\nreturn {payload: filtered};","outputs":1,"x":398,"y":198,"z":"515736ea.531818","wires":[["c8e522e.f371ae"]]},{"id":"888268a6.777d98","type":"function","name":"damconFilter","func":"var data = msg.payload;\nvar curDam = 0;\nvar shipDamage = 0;\n\nconsole.log(\"Subsystem count \" + data.nodes.length);\n\nfor(var i = 0; i < data.nodes.length; i++ ){\n\tcurDam += data.nodes[i].damage;\n}\n\nconsole.log(\"CurDam \" + curDam );\n\nif(curDam > 0){\n\tshipDamage = curDam/15;\n\tif(shipDamage > 1){\n\t\tshipDamage = 1;\n\t}\n}else{\n\tshipDamage = 0;\n}\n\nconsole.log(\"Current ship damage:\" + shipDamage );\n\nreturn {payload: {shipDamage: shipDamage}};","outputs":1,"x":400,"y":280,"z":"515736ea.531818","wires":[["c8e522e.f371ae"]]},{"id":"c8e522e.f371ae","type":"function","name":"shipState","func":"context.state = context.state || {}; \nvar data = msg.payload;\nfor (var key in data) {\n    if(data[key] != undefined && data[key] != null){\n    \tcontext.state[key] = data[key];\n    }\n\t\n}\nreturn {payload: context.state};","outputs":1,"x":544,"y":242,"z":"515736ea.531818","wires":[["77a79f05.88586"]]},{"id":"49decfe6.b6213","type":"debug","name":"","active":false,"console":"false","complete":"false","x":1469.9998779296875,"y":136.142822265625,"z":"515736ea.531818","wires":[]},{"id":"ad938970.526c78","type":"artemis-client","name":"ArtemisClient","server":"b65d15d2.49a2e8","x":90,"y":61,"z":"515736ea.531818","wires":[["4fb32e5e.b04cd","faab09cc.0554f8"]]},{"id":"a5c3159d.5a3ce8","type":"function","name":"checkRedAlert","func":"\nvar data = msg.payload;\nmsg.topic = \"redAlert\";\n\nif(data.redAlert === 1){\n\tmsg.payload = \"on\";\n}else{\n\tmsg.payload = \"off\";\n}\n\nif(data.redAlert === 1){\n    return [null,msg];\n}else{\n\treturn [{payload: data},msg];\n}\n","outputs":"2","x":833,"y":255,"z":"515736ea.531818","wires":[["fdc43a09.023bc8"],["c32ad48c.3cd528"]]},{"id":"df0091e1.20ff7","type":"function","name":"checkShields","func":"\nvar data = msg.payload;\nmsg.topic = \"shield\";\n\nvar stateMsg = {topic: \"shield\"};\nstateMsg.payload = (data.shieldState === 1) ? 'on' : 'off';\n\nif(data.shieldState === 1){\n\tmsg = {topic:\"lights\",payload:{}};\n    msg.payload.hue = 39072;\n\tmsg.payload.saturation = 0xffff;\n\tmsg.payload.luminance = 0x8000;\n\tmsg.payload.whiteColor = 0;\n}else{\n\tmsg = {topic:\"lights\",payload:{}};\n    msg.payload.hue = 37836;\n\tmsg.payload.saturation = 0x4fff;\n\tmsg.payload.luminance = 0x1000;\n\tmsg.payload.whiteColor = 0x0af0;\n}\n\nif(data.shieldState === 1){\n    return [null, stateMsg, msg];\n}else{\n\treturn [{payload: data}, stateMsg, msg];\n}","outputs":"3","x":1238,"y":243,"z":"515736ea.531818","wires":[[],["b89c9f62.47636"],["b0b1f9bf.4f4e08"]]},{"id":"c32ad48c.3cd528","type":"msg-debouncer","name":"","x":757,"y":346,"z":"515736ea.531818","wires":[["c7d3a537.382c58"]]},{"id":"fdc43a09.023bc8","type":"function","name":"CheckDocking","func":"\nvar data = msg.payload;\nmsg.topic = \"docking\";\n\nif(data.docking > 0){\n\tmsg = {topic:\"lights\",payload:{}};\n    msg.payload.hue = 0x2710;\n\tmsg.payload.saturation = 0xffff;\n\tmsg.payload.luminance = 0x8000;\n\tmsg.payload.whiteColor = 0;\n}\n\nif(data.docking > 0){\n    return [null,msg,{payload:\"on\"}];\n}else{\n\treturn [{payload: data},null,{payload:\"off\"}];\n}","outputs":"3","x":1025,"y":249,"z":"515736ea.531818","wires":[["df0091e1.20ff7"],["b0b1f9bf.4f4e08"],["afef5a9f.5010a8"]]},{"id":"c9c03ef1.363fc","type":"msg-debouncer","name":"","x":522,"y":380,"z":"515736ea.531818","wires":[["8d563e91.72a9c"]]},{"id":"afef5a9f.5010a8","type":"msg-debouncer","name":"","x":1002,"y":400,"z":"515736ea.531818","wires":[["a09908ee.5f66f8"]]},{"id":"1be055bb.d8f0f2","type":"function","name":"hit tweet generator","func":"function shuffle(items) {\n\treturn items[Math.floor(Math.random()*items.length)];\n}\n\nvar exclaim = [\n\t\"BAM!\",\n\t\"Oof!\",\n\t\"Ouch!\"\n];\n\nvar message = [\n\t\"It's a hit.\",\n\t\"That hurts!\",\n\t\"I might need an engineer!\"\n];\n\nvar tweet = shuffle(exclaim) + \" \" + shuffle(message);\n\nreturn {payload: tweet};","outputs":1,"x":409,"y":618,"z":"515736ea.531818","wires":[["756e13a9.156ca4"]]},{"id":"756e13a9.156ca4","type":"change","action":"change","property":"payload","from":"$","to":"","reg":true,"name":"add hashtag","x":928,"y":753,"z":"515736ea.531818","wires":[["a9cd7ea3.56328"]]},{"id":"654f3760.7f484","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1269,"y":705,"z":"515736ea.531818","wires":[]},{"id":"65ec5aee.e842f4","type":"twitter out","twitter":"82e3b3cf.7d1c5","name":"Tweet","x":1287,"y":769,"z":"515736ea.531818","wires":[]},{"id":"a9cd7ea3.56328","type":"function","name":"append date","func":"\nfunction fmtdate() {\n\tvar d = new Date();\n\tvar min = d.getMinutes();\n\tif(min < 10) { min = \"0\" + min; }\n\t\n\treturn d.toDateString() + ' ' + d.getHours() + \".\" + min;\n}\n\nvar pl = msg.payload + \" (\" + fmtdate() + \")\";\n\nreturn {payload: pl};","outputs":1,"x":1112,"y":793,"z":"515736ea.531818","wires":[["654f3760.7f484","65ec5aee.e842f4"]]},{"id":"75acf6e8.8a5308","type":"function","name":"red alert tweet","func":"function shuffle(items) {\n\treturn items[Math.floor(Math.random()*items.length)];\n}\n\nvar exclaim = [\n\t\"OMG!\",\n\t\"Yo!\",\n\t\"Achtung! Achtung!\"\n];\n\nvar message = [\n\t\"Red Alert! Red Alert!\",\n\t\"Red Alert! Preparing for Brown Alert!\",\n\t\"It's Red Alert!\"\n];\n\nvar tweet = shuffle(exclaim) + \" \" + shuffle(message)\n\nreturn {payload: tweet};","outputs":1,"x":843,"y":538,"z":"515736ea.531818","wires":[["756e13a9.156ca4"]]},{"id":"c7d3a537.382c58","type":"switch","name":"red alert is on","property":"payload","rules":[{"t":"eq","v":"on"}],"checkall":"true","outputs":1,"x":818,"y":474,"z":"515736ea.531818","wires":[["75acf6e8.8a5308"]]},{"id":"a09908ee.5f66f8","type":"switch","name":"is on","property":"payload","rules":[{"t":"eq","v":"on"}],"checkall":"true","outputs":1,"x":1223,"y":391,"z":"515736ea.531818","wires":[["8c6fcab5.739038"]]},{"id":"a7172d39.58e8d","type":"function","name":"gameover tweet","func":"function shuffle(items) {\n\treturn items[Math.floor(Math.random()*items.length)];\n}\n\n\nvar message = [\n\t\"It's over. Everything is over.\",\n\t\"Gaaame oover!\",\n\t\"They're dead, Jimmy! Everyone's dead!\",\n\t\"Looking for a new crew!\",\n\t\"Ever wanted to fly a spaceship? Now's your chance!\"\n];\n\nvar tweet = shuffle(message);\n\nreturn {payload: tweet};","outputs":1,"x":242,"y":494,"z":"515736ea.531818","wires":[["756e13a9.156ca4"]]},{"id":"5a937a1.fa56c84","type":"debug","name":"","active":false,"console":"false","complete":"false","x":123,"y":303,"z":"515736ea.531818","wires":[]},{"id":"2e4b0129.d1b4fe","type":"function","name":"with random chance","func":"if(Math.random() > 0.9) {\n\treturn msg;\t\n}","outputs":1,"x":296,"y":393,"z":"515736ea.531818","wires":[["be247308.41db9"]]},{"id":"8c6fcab5.739038","type":"function","name":"docking tweet","func":"function shuffle(items) {\n\treturn items[Math.floor(Math.random()*items.length)];\n}\n\n\nvar message = [\n\t\"Docking again? Slackers!\",\n\t\"Imma just chill a bit in the dock.\",\n\t\"Artemis In Da Dock\",\n\t\"Dock 'n' roll!\",\n\t\"Chillin with my homies in the dock\",\n\t\"I am docking #likeaboss\",\n\t\"Getting some nukes from our space station.\",\n\t\"Hello-o-o big mama!\",\n\t\"The solar panels of this station really have to be cleaned\",\n\t\"Repairing my warp generator \",\n\t\"#YODO! (You Only Dock Once)\",\n\t\"Hmm, this space station looks really sexy!\",\n\t\"This station has everything! Nukes,missiles,energy,hookers!\"\n];\n\nvar tweet = shuffle(message);\n\nreturn {payload: tweet};","outputs":1,"x":1195,"y":512,"z":"515736ea.531818","wires":[["756e13a9.156ca4"]]},{"id":"2f2298f5.d0dd68","type":"debug","name":"","active":false,"console":"false","complete":"false","x":107,"y":391,"z":"515736ea.531818","wires":[]},{"id":"2d851ee.fd27ae2","type":"function","name":"shields tweet generator","func":"function shuffle(items) {\n\treturn items[Math.floor(Math.random()*items.length)];\n}\n\nvar message = [\n\t\"Shields on!\",\n\t\"Shields on? What's going on?!\",\n\t\"Dat shields are turning me on!\",\n\t\"Better use protection! #shieldsOn\"\n];\n\nvar tweet = shuffle(message);\n\nreturn {payload: tweet};","outputs":1,"x":1502,"y":424,"z":"515736ea.531818","wires":[["d82a780d.27d588"]]},{"id":"32d0da59.cd2f26","type":"switch","name":"shield state","property":"payload","rules":[{"t":"eq","v":"on"},{"t":"eq","v":"off"}],"checkall":"true","outputs":2,"x":1527,"y":297,"z":"515736ea.531818","wires":[["2d851ee.fd27ae2"],[]]},{"id":"d82a780d.27d588","type":"msg-debouncer","name":"","x":1447,"y":640,"z":"515736ea.531818","wires":[["756e13a9.156ca4"]]},{"id":"b0b1f9bf.4f4e08","type":"msg-debouncer","name":"","x":1299,"y":99,"z":"515736ea.531818","wires":[["49decfe6.b6213"]]},{"id":"b89c9f62.47636","type":"msg-debouncer","name":"","x":1445,"y":241,"z":"515736ea.531818","wires":[["32d0da59.cd2f26"]]},{"id":"be247308.41db9","type":"msg-debouncer","name":"","x":296,"y":452,"z":"515736ea.531818","wires":[["1be055bb.d8f0f2"]]},{"id":"8d563e91.72a9c","type":"switch","name":"high damage","property":"payload.shipDamage","rules":[{"t":"gte","v":0.9,"v2":null}],"checkall":"false","outputs":1,"x":556,"y":816,"z":"515736ea.531818","wires":[[]]},{"id":"77a79f05.88586","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":650,"y":286,"z":"515736ea.531818","wires":[["a5c3159d.5a3ce8","c9c03ef1.363fc"]]},{"id":"ceaf2c58.3150d","type":"function","name":"damage tweet generator","func":"function shuffle(items) {\n\treturn items[Math.floor(Math.random()*items.length)];\n}\n\nvar message = [\n\t\"Shields on!\",\n\t\"Shields on? What's going on?!\",\n\t\"Dat shields are turning me on!\",\n\t\"Better use protection! #shieldsOn\"\n];\n\nvar tweet = shuffle(message);\n\nreturn {payload: tweet};","outputs":1,"x":792,"y":833,"z":"515736ea.531818","wires":[[]]},{"id":"faab09cc.0554f8","type":"delay","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"20","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":286,"y":61,"z":"515736ea.531818","wires":[["a16bddb0.5e942"]]},{"id":"a16bddb0.5e942","type":"debug","name":"","active":true,"console":"false","complete":"false","x":470,"y":57,"z":"515736ea.531818","wires":[]}]