flows_Zdenkos-MacBook-Air.local.json
[{"type":"tab","id":"a6f4b0f9.590b5","label":"Sheet 1"},{"id":"69e0ea.ff961f18","type":"inject","name":"","topic":"playerUpdate","payload":" { \"id\": 1237, \"weaponsTarget\": 0, \"impulse\": 0, \"rudder\": 0.5, \"maxImpulse\": 0.6000000238418579, \"turnRate\": 0.004000000189989805, \"autoBeams\": 1, \"warp\": 0, \"energy\": 1000.0045776367188, \"shieldState\": 0, \"shipNumber\": 1, \"shipType\": 0, \"posX\": 48649.1953125, \"posY\": 0, \"posZ\": 51855.7109375, \"pitch\": 0, \"roll\": 0, \"heading\": 3.1415927410125732, \"velocity\": 0, \"unknown1\": 0, \"shipName\": \"Artemis\", \"forShields\": 80, \"forShieldsMax\": 80, \"aftShields\": 80, \"aftShieldsMax\": 80, \"docking\": 0, \"redAlert\": 0, \"unknown2\": 200000, \"mainScreen\": 0, \"beamFrequency\": 0, \"coolantAvailable\": 8, \"scienceTarget\": 0, \"captainTarget\": 0, \"driveType\": 0, \"scanningTarget\": 0, \"scanningProgress\": 80, \"reverse\": 0, \"unknown3\": 0, \"unknown4\": 2, \"unknown5\": 4294967295 }","payloadType":"string","repeat":"","crontab":"","once":false,"x":109,"y":255,"z":"a6f4b0f9.590b5","wires":[["4fb32e5e.b04cd"]]},{"id":"755643ce.8aa9bc","type":"json","name":"json","x":386,"y":263,"z":"a6f4b0f9.590b5","wires":[["f88a0ace.0775f8"]]},{"id":"4fb32e5e.b04cd","type":"switch","name":"Switcher","property":"topic","rules":[{"t":"eq","v":"playerUpdate"},{"t":"eq","v":"damcon"}],"checkall":"true","outputs":2,"x":254,"y":319,"z":"a6f4b0f9.590b5","wires":[["755643ce.8aa9bc"],["397dae1.fc68252"]]},{"id":"f88a0ace.0775f8","type":"function","name":"playerUpdateFilter","func":"var data = msg.payload;\nvar filtered = {\n\tshieldPower: data.forShields,\n\tmaxShieldPower: data.payload,\n\tredAlert: data.redAlert,\n\tshieldState: data.shieldState,\n\tdocking: data.docking\n};\n\nreturn {payload: filtered};","outputs":1,"x":550,"y":155,"z":"a6f4b0f9.590b5","wires":[["c8e522e.f371ae"]]},{"id":"888268a6.777d98","type":"function","name":"damconFilter","func":"var data = msg.payload;\nvar curDam = 0;\nvar shipDamage = 0;\n\nconsole.log(\"Subsystem count \" + data.nodes.length);\n\nfor(var i = 0; i < data.nodes.length; i++ ){\n\tcurDam += data.nodes[i].damage;\n}\n\nconsole.log(\"CurDam \" + curDam );\n\nif(curDam > 0){\n\tshipDamage = curDam/15;\n\tif(shipDamage > 1){\n\t\tshipDamage = 1;\n\t}\n}else{\n\tshipDamage = 0;\n}\n\nconsole.log(\"Current ship damage:\" + shipDamage );\n\nreturn {payload: {shipDamage: shipDamage}};","outputs":1,"x":555,"y":358,"z":"a6f4b0f9.590b5","wires":[["c8e522e.f371ae"]]},{"id":"c8e522e.f371ae","type":"function","name":"shipState","func":"context.state = context.state || {}; \nvar data = msg.payload;\nfor (var key in data) {\n\tcontext.state[key] = data[key];\n}\nreturn {payload: context.state};","outputs":1,"x":691,"y":255,"z":"a6f4b0f9.590b5","wires":[["49decfe6.b6213"]]},{"id":"49decfe6.b6213","type":"debug","name":"","active":true,"console":"false","complete":"false","x":858,"y":255,"z":"a6f4b0f9.590b5","wires":[]},{"id":"929ed3b1.6d613","type":"inject","name":"","topic":"damcon","payload":"{ \"unknown\": 0, \"nodes\": [ { \"x\": 3, \"y\": 2, \"z\": 9, \"damage\": 0.1480029970407486 } ], \"teams\": [ { \"teamID\": 11, \"goalX\": 1, \"goalY\": 0, \"goalZ\": 2, \"x\": 2, \"y\": 2, \"z\": 2, \"progress\": 0.8980013132095337, \"members\": 6 } ] }","payloadType":"string","repeat":"","crontab":"","once":false,"x":84,"y":393,"z":"a6f4b0f9.590b5","wires":[["4fb32e5e.b04cd"]]},{"id":"397dae1.fc68252","type":"json","name":"","x":385,"y":361,"z":"a6f4b0f9.590b5","wires":[["888268a6.777d98"]]}]