flows_lifx.json
[{"type":"tab","id":"8a8c8606.757378","label":"Sheet 1"},{"id":"6b807a4.f947f84","type":"inject","name":"on","topic":"bulb","payload":"{\"on\":true}","payloadType":"string","repeat":"","crontab":"","once":true,"x":163,"y":86,"z":"8a8c8606.757378","wires":[["efb69cd4.10496"]]},{"id":"fcf99532.030668","type":"inject","name":"off","topic":"bulb","payload":"{\"on\":false}","payloadType":"string","repeat":"","crontab":"","once":false,"x":143,"y":212,"z":"8a8c8606.757378","wires":[["efb69cd4.10496"]]},{"id":"efb69cd4.10496","type":"json","name":"","x":422,"y":114,"z":"8a8c8606.757378","wires":[["d820283b.27dfd8"]]},{"id":"ee925ba7.116da8","type":"inject","name":"","topic":"bulb","payload":"{\"hue\":0,\"fadeTime\":\"0xffffff\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":166,"y":292,"z":"8a8c8606.757378","wires":[["efb69cd4.10496"]]},{"id":"16848a3b.e97b76","type":"inject","name":"","topic":"bulb","payload":"{\"hue\":\"0x4E20\",\"fadeTime\":0}","payloadType":"string","repeat":"","crontab":"","once":false,"x":270,"y":385,"z":"8a8c8606.757378","wires":[["efb69cd4.10496"]]},{"id":"d820283b.27dfd8","type":"lifx","name":"","topic":"","on":true,"hue":"0xCC15","saturation":"0xFFFF","luminance":"0x8000","whiteColor":"0x00","fadeTime":"0x0513","debug":false,"x":653,"y":120,"z":"8a8c8606.757378","wires":[]}]