flows_petr-ntb.json
[{"type":"tab","id":"c891483d.bcf688","label":"Sheet 1"},{"id":"6ca92161.327b88","type":"json","name":"","x":294,"y":141,"z":"c891483d.bcf688","wires":[[]]},{"id":"4f22e657.7665b8","type":"inject","name":"saturation","topic":"saturation","payload":"{\"saturation\":\"0xffffff\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":123,"y":83,"z":"c891483d.bcf688","wires":[["6ca92161.327b88"]]},{"id":"5f2d6312.ed6e3c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":664,"y":209,"z":"c891483d.bcf688","wires":[]}]