flows_McKal.local.json
[{"type":"tab","id":"a6f4b0f9.590b5","label":"Sheet 1"},{"id":"b65d15d2.49a2e8","type":"artemis-server","host":"192.168.1.110","port":"2010"},{"id":"9dd74550.6228b8","type":"twitter-credentials","screen_name":"@Artemis_RED"},{"id":"69e0ea.ff961f18","type":"inject","name":"","topic":"playerUpdate","payload":" { \"id\": 1237, \"weaponsTarget\": 0, \"impulse\": 0, \"rudder\": 0.5, \"maxImpulse\": 0.6000000238418579, \"turnRate\": 0.004000000189989805, \"autoBeams\": 1, \"warp\": 0, \"energy\": 1000.0045776367188, \"shieldState\": 0, \"shipNumber\": 1, \"shipType\": 0, \"posX\": 48649.1953125, \"posY\": 0, \"posZ\": 51855.7109375, \"pitch\": 0, \"roll\": 0, \"heading\": 3.1415927410125732, \"velocity\": 0, \"unknown1\": 0, \"shipName\": \"Artemis\", \"forShields\": 80, \"forShieldsMax\": 80, \"aftShields\": 80, \"aftShieldsMax\": 80, \"docking\": 0, \"redAlert\": 0, \"unknown2\": 200000, \"mainScreen\": 0, \"beamFrequency\": 0, \"coolantAvailable\": 8, \"scienceTarget\": 0, \"captainTarget\": 0, \"driveType\": 0, \"scanningTarget\": 0, \"scanningProgress\": 80, \"reverse\": 0, \"unknown3\": 0, \"unknown4\": 2, \"unknown5\": 4294967295 }","payloadType":"string","repeat":"","crontab":"","once":false,"x":197.50000381469727,"y":316.2500057220459,"z":"a6f4b0f9.590b5","wires":[[]]},{"id":"4fb32e5e.b04cd","type":"switch","name":"Switcher","property":"topic","rules":[{"t":"eq","v":"playerUpdate"},{"t":"eq","v":"damcon"},{"t":"eq","v":"playerHit"}],"checkall":"true","outputs":3,"x":557.5000038146973,"y":316.50000762939453,"z":"a6f4b0f9.590b5","wires":[["f88a0ace.0775f8"],["888268a6.777d98"],[]]},{"id":"f88a0ace.0775f8","type":"function","name":"playerUpdateFilter","func":"var data = msg.payload;\nvar filtered = {\n\tshieldPower: data.forShields,\n\tmaxShieldPower: data.payload,\n\tredAlert: data.redAlert,\n\tshieldState: data.shieldState,\n\tdocking: data.docking,\n\tenergy: data.energy\n};\n\nreturn {payload: filtered};","outputs":1,"x":638.5000038146973,"y":216.2500057220459,"z":"a6f4b0f9.590b5","wires":[["c8e522e.f371ae"]]},{"id":"888268a6.777d98","type":"function","name":"damconFilter","func":"var data = msg.payload;\nvar curDam = 0;\nvar shipDamage = 0;\n\nconsole.log(\"Subsystem count \" + data.nodes.length);\n\nfor(var i = 0; i < data.nodes.length; i++ ){\n\tcurDam += data.nodes[i].damage;\n}\n\nconsole.log(\"CurDam \" + curDam );\n\nif(curDam > 0){\n\tshipDamage = curDam/15;\n\tif(shipDamage > 1){\n\t\tshipDamage = 1;\n\t}\n}else{\n\tshipDamage = 0;\n}\n\nconsole.log(\"Current ship damage:\" + shipDamage );\n\nreturn {payload: {shipDamage: shipDamage}};","outputs":1,"x":643.5000038146973,"y":419.2500057220459,"z":"a6f4b0f9.590b5","wires":[["c8e522e.f371ae"]]},{"id":"c8e522e.f371ae","type":"function","name":"shipState","func":"context.state = context.state || {}; \nvar data = msg.payload;\nfor (var key in data) {\n    if(data[key] != undefined && data[key] != null){\n    \tcontext.state[key] = data[key];\n    }\n\t\n}\nreturn {payload: context.state};","outputs":1,"x":758.5000038146973,"y":319.2500057220459,"z":"a6f4b0f9.590b5","wires":[["a5c3159d.5a3ce8","c9c03ef1.363fc"]]},{"id":"49decfe6.b6213","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1379.4998817443848,"y":550.392858505249,"z":"a6f4b0f9.590b5","wires":[]},{"id":"929ed3b1.6d613","type":"inject","name":"","topic":"damcon","payload":"{ \"unknown\": 0, \"nodes\": [ { \"x\": 3, \"y\": 2, \"z\": 9, \"damage\": 0.1480029970407486 } ], \"teams\": [ { \"teamID\": 11, \"goalX\": 1, \"goalY\": 0, \"goalZ\": 2, \"x\": 2, \"y\": 2, \"z\": 2, \"progress\": 0.8980013132095337, \"members\": 6 } ] }","payloadType":"string","repeat":"","crontab":"","once":false,"x":172.50000381469727,"y":454.2500057220459,"z":"a6f4b0f9.590b5","wires":[[]]},{"id":"ad938970.526c78","type":"artemis-client","name":"ArtemisClient","server":"b65d15d2.49a2e8","x":459,"y":255.00000953674316,"z":"a6f4b0f9.590b5","wires":[["4fb32e5e.b04cd"]]},{"id":"a5c3159d.5a3ce8","type":"function","name":"checkRedAlert","func":"\nvar data = msg.payload;\nmsg.topic = \"redAlert\";\n\nif(data.redAlert === 1){\n\tmsg.payload = \"on\";\n}else{\n\tmsg.payload = \"off\";\n}\n\nif(data.redAlert === 1){\n    return [null,msg];\n}else{\n\treturn [{payload: data},msg];\n}\n","outputs":"2","x":935.5000038146973,"y":319.2500057220459,"z":"a6f4b0f9.590b5","wires":[["fdc43a09.023bc8"],["c32ad48c.3cd528"]]},{"id":"7a8f9908.857068","type":"vlc-player","name":"","sound":"alarm.mp3","vlcPath":"","repeats":true,"x":738.3571434020996,"y":547.6785764694214,"z":"a6f4b0f9.590b5","wires":[[]]},{"id":"df0091e1.20ff7","type":"function","name":"checkShields","func":"\nvar data = msg.payload;\nmsg.topic = \"shield\";\n\nif(data.shieldState === 1){\n\tmsg = {topic:\"lights\",payload:{}};\n    msg.payload.hue = 39072;\n\tmsg.payload.saturation = 0xffff;\n\tmsg.payload.luminance = 0x8000;\n\tmsg.payload.whiteColor = 0;\n}else{\n\tmsg = {topic:\"lights\",payload:{}};\n    msg.payload.hue = 37836;\n\tmsg.payload.saturation = 0x4fff;\n\tmsg.payload.luminance = 0x1000;\n\tmsg.payload.whiteColor = 0x0af0;\n}\n\nif(data.shieldState === 1){\n    return [null,msg];\n}else{\n\treturn [{payload: data},msg];\n}","outputs":"2","x":1326.5000038146973,"y":304.2500057220459,"z":"a6f4b0f9.590b5","wires":[[],["b0b1f9bf.4f4e08"]]},{"id":"16620c0f.e99df4","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":921.9286499023438,"y":600.1069946289062,"z":"a6f4b0f9.590b5","wires":[["1db32418.e24cdc"]]},{"id":"1db32418.e24cdc","type":"function","name":"RedAlertPulser","func":"var pulseMsg = null;\nif(context.redAlertState == undefined){\n\tcontext.redAlertState = true;\n\tcontext.isOn = false;\n}\nif(context.inited != true && msg.topic == \"redAlert\"){\n\tcontext.inited = true;\n\tpulseMsg = {payload: true, topic:\"pulse\"};\n\tconsole.log(\"pulse inited\");\n}\n\n\nif(msg.topic == \"redAlert\"){\n\tif(msg.payload == \"on\"){\n\t\tcontext.isOn = true;\n\t}else{\n\t\tcontext.isOn = false;\n\t}\n}\nvar bulbMsg = null;\nif(msg.topic == \"pulse\"){\n\tif(context.isOn){\n\t\tif(context.redAlertState){\n\t\t\tbulbMsg = {topic:\"\",payload:{}};\n\t\t    bulbMsg.payload.hue = 0x0000;\n\t\t\tbulbMsg.payload.saturation = 0xffff;\n\t\t\tbulbMsg.payload.luminance = 0x8000;\n\t\t\tbulbMsg.payload.whiteColor = 0;\n\t\t}else{\n\t\t    bulbMsg = {topic:\"\",payload:{}};\n\t\t    bulbMsg.payload.hue = 0x0000;\n\t\t\tbulbMsg.payload.saturation = 0xffff;\n\t\t\tbulbMsg.payload.luminance = 0x1000;\n\t\t\tbulbMsg.payload.whiteColor = 0;\n\t\t}\n\t}\n\tcontext.redAlertState = !context.redAlertState;\n\tpulseMsg = {payload: true, topic:\"pulse\"};\n}\n\nreturn [bulbMsg,pulseMsg];","outputs":"2","x":931.3572044372559,"y":532.678521156311,"z":"a6f4b0f9.590b5","wires":[["b0b1f9bf.4f4e08"],["16620c0f.e99df4"]]},{"id":"c32ad48c.3cd528","type":"msg-debouncer","name":"","x":845.5000038146973,"y":407.2500057220459,"z":"a6f4b0f9.590b5","wires":[["1db32418.e24cdc","7a8f9908.857068","a74a84ef.58b578"]]},{"id":"b0b1f9bf.4f4e08","type":"msg-debouncer","name":"","x":1244.5000038146973,"y":583.2500057220459,"z":"a6f4b0f9.590b5","wires":[["49decfe6.b6213","63cdf4f4.9c320c"]]},{"id":"63cdf4f4.9c320c","type":"lifx","name":"","topic":"","on":true,"hue":"0xCC15","saturation":"0xFFFF","luminance":"0x8000","whiteColor":"0x00","fadeTime":"0x0513","debug":false,"x":1371.5000038146973,"y":654.2500057220459,"z":"a6f4b0f9.590b5","wires":[[]]},{"id":"f0aff1c7.0f501","type":"vlc-player","name":"","sound":"./sounds/shieldson.mp3","vlcPath":"","repeats":false,"x":1243.5000038146973,"y":392.2500057220459,"z":"a6f4b0f9.590b5","wires":[[]]},{"id":"fdc43a09.023bc8","type":"function","name":"CheckDocking","func":"\nvar data = msg.payload;\nmsg.topic = \"docking\";\n\nif(data.docking > 0){\n\tmsg = {topic:\"lights\",payload:{}};\n    msg.payload.hue = 0x2710;\n\tmsg.payload.saturation = 0xffff;\n\tmsg.payload.luminance = 0x8000;\n\tmsg.payload.whiteColor = 0;\n}\n\nif(data.docking > 0){\n    return [null,msg,{payload:\"on\"}];\n}else{\n\treturn [{payload: data},null,{payload:\"off\"}];\n}","outputs":"3","x":1113.5000038146973,"y":310.2500057220459,"z":"a6f4b0f9.590b5","wires":[["df0091e1.20ff7"],["b0b1f9bf.4f4e08"],["afef5a9f.5010a8"]]},{"id":"c65f6614.39a098","type":"debug","name":"","active":true,"console":"false","complete":"false","x":991.5000038146973,"y":239.2500057220459,"z":"a6f4b0f9.590b5","wires":[]},{"id":"c9c03ef1.363fc","type":"msg-debouncer","name":"","x":848.5000038146973,"y":234.2500057220459,"z":"a6f4b0f9.590b5","wires":[["c65f6614.39a098"]]},{"id":"afef5a9f.5010a8","type":"msg-debouncer","name":"","x":1076.5000038146973,"y":391.2500057220459,"z":"a6f4b0f9.590b5","wires":[["f0aff1c7.0f501","faee5d49.0511a","2b2308ab.d4dcf8"]]},{"id":"faee5d49.0511a","type":"delay","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1246.5000038146973,"y":433.2500057220459,"z":"a6f4b0f9.590b5","wires":[["49065f40.b6f9a"]]},{"id":"49065f40.b6f9a","type":"vlc-player","name":"docking completed","sound":"./sounds/docking.mp3","vlcPath":"","repeats":false,"x":1417.5000038146973,"y":430.2500057220459,"z":"a6f4b0f9.590b5","wires":[[]]},{"id":"c83828fd.37c7d8","type":"twitter out","twitter":"9dd74550.6228b8","name":"Tweet","x":867,"y":651,"z":"a6f4b0f9.590b5","wires":[]},{"id":"a74a84ef.58b578","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":"on"}],"checkall":"true","outputs":1,"x":609,"y":646,"z":"a6f4b0f9.590b5","wires":[["150c1d20.eaf3e3"]]},{"id":"150c1d20.eaf3e3","type":"function","name":"","func":"var date = new Date;\nmsg.payload = date + \" Red Alert!\";\nreturn msg;","outputs":1,"x":739,"y":651,"z":"a6f4b0f9.590b5","wires":[["c83828fd.37c7d8"]]},{"id":"7c313d1d.83cec4","type":"twitter out","twitter":"9dd74550.6228b8","name":"Tweet","x":1369,"y":471,"z":"a6f4b0f9.590b5","wires":[]},{"id":"ab6f7153.54909","type":"function","name":"","func":"var date = new Date;\nmsg.payload = date + \": My crew is chilling out while I am docked at space station.\";\nreturn msg;","outputs":1,"x":1255.4443969726562,"y":469.8888912200928,"z":"a6f4b0f9.590b5","wires":[["7c313d1d.83cec4"]]},{"id":"2b2308ab.d4dcf8","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":"on"}],"checkall":"true","outputs":1,"x":1117.7777366638184,"y":453.3333339691162,"z":"a6f4b0f9.590b5","wires":[["ab6f7153.54909"]]}]