flows_McKal.local.json
[{"type":"tab","id":"a6f4b0f9.590b5","label":"Sheet 1"},{"id":"69e0ea.ff961f18","type":"inject","name":"","topic":"playerUpdate","payload":" { \"id\": 1237, \"weaponsTarget\": 0, \"impulse\": 0, \"rudder\": 0.5, \"maxImpulse\": 0.6000000238418579, \"turnRate\": 0.004000000189989805, \"autoBeams\": 1, \"warp\": 0, \"energy\": 1000.0045776367188, \"shieldState\": 0, \"shipNumber\": 1, \"shipType\": 0, \"posX\": 48649.1953125, \"posY\": 0, \"posZ\": 51855.7109375, \"pitch\": 0, \"roll\": 0, \"heading\": 3.1415927410125732, \"velocity\": 0, \"unknown1\": 0, \"shipName\": \"Artemis\", \"forShields\": 80, \"forShieldsMax\": 80, \"aftShields\": 80, \"aftShieldsMax\": 80, \"docking\": 0, \"redAlert\": 0, \"unknown2\": 200000, \"mainScreen\": 0, \"beamFrequency\": 0, \"coolantAvailable\": 8, \"scienceTarget\": 0, \"captainTarget\": 0, \"driveType\": 0, \"scanningTarget\": 0, \"scanningProgress\": 80, \"reverse\": 0, \"unknown3\": 0, \"unknown4\": 2, \"unknown5\": 4294967295 }","payloadType":"string","repeat":"","crontab":"","once":false,"x":109,"y":255,"z":"a6f4b0f9.590b5","wires":[[]]},{"id":"4fb32e5e.b04cd","type":"switch","name":"Switcher","property":"topic","rules":[{"t":"eq","v":"playerUpdate"},{"t":"eq","v":"damcon"}],"checkall":"true","outputs":2,"x":254,"y":319,"z":"a6f4b0f9.590b5","wires":[["f88a0ace.0775f8"],["888268a6.777d98"]]},{"id":"f88a0ace.0775f8","type":"function","name":"playerUpdateFilter","func":"var data = msg.payload;\nvar filtered = {\n\tshieldPower: data.forShields,\n\tmaxShieldPower: data.payload,\n\tredAlert: data.redAlert,\n\tshieldState: data.shieldState,\n\tdocking: data.docking,\n\tenergy: data.energy\n};\n\nreturn {payload: filtered};","outputs":1,"x":550,"y":155,"z":"a6f4b0f9.590b5","wires":[["c8e522e.f371ae"]]},{"id":"888268a6.777d98","type":"function","name":"damconFilter","func":"var data = msg.payload;\nvar curDam = 0;\nvar shipDamage = 0;\n\nconsole.log(\"Subsystem count \" + data.nodes.length);\n\nfor(var i = 0; i < data.nodes.length; i++ ){\n\tcurDam += data.nodes[i].damage;\n}\n\nconsole.log(\"CurDam \" + curDam );\n\nif(curDam > 0){\n\tshipDamage = curDam/15;\n\tif(shipDamage > 1){\n\t\tshipDamage = 1;\n\t}\n}else{\n\tshipDamage = 0;\n}\n\nconsole.log(\"Current ship damage:\" + shipDamage );\n\nreturn {payload: {shipDamage: shipDamage}};","outputs":1,"x":555,"y":358,"z":"a6f4b0f9.590b5","wires":[["c8e522e.f371ae"]]},{"id":"c8e522e.f371ae","type":"function","name":"shipState","func":"context.state = context.state || {}; \nvar data = msg.payload;\nfor (var key in data) {\n    if(data[key] != undefined && data[key] != null){\n    \tcontext.state[key] = data[key];\n    }\n\t\n}\nreturn {payload: context.state};","outputs":1,"x":670,"y":258,"z":"a6f4b0f9.590b5","wires":[["a5c3159d.5a3ce8"]]},{"id":"49decfe6.b6213","type":"debug","name":"","active":false,"console":"false","complete":"false","x":1023.9999294281006,"y":416.14286613464355,"z":"a6f4b0f9.590b5","wires":[]},{"id":"929ed3b1.6d613","type":"inject","name":"","topic":"damcon","payload":"{ \"unknown\": 0, \"nodes\": [ { \"x\": 3, \"y\": 2, \"z\": 9, \"damage\": 0.1480029970407486 } ], \"teams\": [ { \"teamID\": 11, \"goalX\": 1, \"goalY\": 0, \"goalZ\": 2, \"x\": 2, \"y\": 2, \"z\": 2, \"progress\": 0.8980013132095337, \"members\": 6 } ] }","payloadType":"string","repeat":"","crontab":"","once":false,"x":84,"y":393,"z":"a6f4b0f9.590b5","wires":[[]]},{"id":"ad938970.526c78","type":"artemis-client","name":"","x":103,"y":65,"z":"a6f4b0f9.590b5","wires":[["4fb32e5e.b04cd"]]},{"id":"a5c3159d.5a3ce8","type":"function","name":"checkRedAlert","func":"\nvar data = msg.payload;\nmsg.topic = \"redAlert\";\nif(data.redAlert != context.redAlert){\n\tif(data.redAlert === 1){\n\t\t\n\t\tmsg.payload = \"on\";\n\t}else{\n\t\tmsg.payload = \"off\";\n\t}\n}else{\n\tmsg = null;\n}\n\ncontext.redAlert = data.redAlert;\n\nif(context.redAlert === 1){\n    return [null,msg];\n}else{\n\treturn [{payload: data},msg];\n}\n","outputs":"2","x":827,"y":255,"z":"a6f4b0f9.590b5","wires":[["df0091e1.20ff7"],["7a8f9908.857068","1db32418.e24cdc","8d88bf0a.72774"]]},{"id":"7a8f9908.857068","type":"vlc-player","name":"","sound":"alarm.mp3","vlcPath":"","x":649.8571395874023,"y":486.4285707473755,"z":"a6f4b0f9.590b5","wires":[[]]},{"id":"df0091e1.20ff7","type":"function","name":"checkShields","func":"\nvar data = msg.payload;\nif(data.shieldState != context.shieldState){\n\tif(data.shieldState === 1){\n\t\tmsg.topic = \"on\";\n\t}else{\n\t\tmsg.topic = \"off\";\n\t}\n}else{\n\tmsg = null;\n}\n\ncontext.shieldState = data.shieldState;\n\nif(context.shieldState === 1){\n    return [null,msg];\n}else{\n\treturn [{payload: data},msg];\n}\n","outputs":"2","x":1017,"y":251,"z":"a6f4b0f9.590b5","wires":[[],[]]},{"id":"4845e2.ffb7ba2","type":"function","name":"","func":"\nreturn msg;","outputs":1,"x":1199.9999046325684,"y":404.28571128845215,"z":"a6f4b0f9.590b5","wires":[[]]},{"id":"16620c0f.e99df4","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":821.4286193847656,"y":612.8570194244385,"z":"a6f4b0f9.590b5","wires":[["1db32418.e24cdc"]]},{"id":"a9368993.56c978","type":"lifx","name":"","topic":"bulb","x":1024.2858200073242,"y":467.14285373687744,"z":"a6f4b0f9.590b5","wires":[]},{"id":"1db32418.e24cdc","type":"function","name":"RedAlertPulser","func":"var pulseMsg = null;\nconsole.log(msg);\nif(context.redAlertState == undefined){\n\tcontext.redAlertState = true;\n\tcontext.isOn = false;\n}\nif(context.inited != true && msg.topic == \"redAlert\"){\n\tcontext.inited = true;\n\tpulseMsg = {payload: true, topic:\"pulse\"};\n\tconsole.log(\"pulse inited\");\n}\n\n\nif(msg.topic == \"redAlert\"){\n\tif(msg.payload == \"on\"){\n\t\tcontext.isOn = true;\n\t}else{\n\t\tcontext.isOn = false;\n\t}\n}\nvar bulbMsg = null;\nif(msg.topic == \"pulse\"){\n\tif(context.isOn){\n\t\tif(context.redAlertState){\n\t\t\tbulbMsg = {topic:\"\",payload:{}};\n\t\t    bulbMsg.payload.hue = 0x0000;\n\t\t\tbulbMsg.payload.saturation = 0xffff;\n\t\t\tbulbMsg.payload.luminance = 0x8000;\n\t\t\tbulbMsg.payload.whiteColor = 0;\n\t\t}else{\n\t\t    bulbMsg = {topic:\"\",payload:{}};\n\t\t    bulbMsg.payload.hue = 0x0000;\n\t\t\tbulbMsg.payload.saturation = 0xffff;\n\t\t\tbulbMsg.payload.luminance = 0x1000;\n\t\t\tbulbMsg.payload.whiteColor = 0;\n\t\t}\n\t}\n\tcontext.redAlertState = !context.redAlertState;\n\tpulseMsg = {payload: true, topic:\"pulse\"};\n}\n\nreturn [bulbMsg,pulseMsg];","outputs":"2","x":842.8572006225586,"y":471.42851543426514,"z":"a6f4b0f9.590b5","wires":[["a9368993.56c978","49decfe6.b6213"],["16620c0f.e99df4","e8e4750f.171b88"]]},{"id":"e8e4750f.171b88","type":"debug","name":"pulse debug","active":true,"console":"false","complete":"false","x":1061.4286518096924,"y":567.1428642272949,"z":"a6f4b0f9.590b5","wires":[]},{"id":"8d88bf0a.72774","type":"debug","name":"","active":false,"console":"false","complete":"false","x":865.7143135070801,"y":422.8571529388428,"z":"a6f4b0f9.590b5","wires":[]}]